<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>予約管理システム</title>
    <link rel="stylesheet" href="/public/style.css" />
  </head>
  <body>
    <div>
      <!-- パスワードをお忘れの方への写真 -->
      <h1>パスワード再設定画面</h1>
      <h2>制作中</h2>
    </div>

    <div class="pageCharge">
      <a href="/">ログイン画面へ</a>
    </div>
  </body>
</html>
